.Navbar {
    width: 96%;
    height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0% 2%;

    .ambulaLogo {
        width: 15%;
    }

    .rightContainer {
        display: flex;
        flex-direction: row;
        border-radius: 25px;
        gap: 20px;
        align-items: center;

        a {
            text-decoration: none;
            color: $text-grey;
            font-family: $inter;
        }

        .activeRoute {
            color: #fff;
        }
        
        .enterApp {
            position:relative;
            padding: 2px 10px 3px 10px;
            align-items: center;
            justify-content: center;
            text-align: center;
            vertical-align: middle;

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                border-radius: 25px;
                padding: 2px; /* control the border thickness */
                background: $gradient-ambula;
                -webkit-mask: 
                  linear-gradient(#fff 0 0) content-box, 
                  linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                        mask-composite: exclude;
                pointer-events: none;
              }

            &:hover {
                border-radius: 25px;
                background: $gradient-ambula;
            }
        }

        .languageSelector {
            display: flex;
            flex-direction: row;
            margin: 0 0 0 30px;
            gap: 10px;
            align-items: center;
            color: $text-grey;
            font-family: $inter;
        }
    }
}