/* Color styles */
$background-grey: rgba(240, 246, 255, 1);
$ambula-red: rgba(255, 6, 81, 1);
$background-black: rgba(51, 51, 51, 1);
$text-grey: rgba(199, 199, 199, 1);
$grey: rgba(154, 154, 154, 1);
$background-dark: rgba(17, 17, 17, 1);
$gradient-foncé: rgba(34, 34, 34, 1);

$background :  linear-gradient(0deg, rgba(255, 6, 81, 0.1), rgba(255, 6, 81, 0.1)), #111111; 

$gradient-ambula : linear-gradient(93.31deg, #FF0651 -22.49%, #EC1093 113.5%);

/* Font styles */
@font-face {
    font-family: 'Greycliff';
    src: url("@/assets/fonts/") format('opentype');
}

$greycliff: 'Greycliff', sans-serif;
$inter: 'Inter', sans-serif;
$poppins: 'Poppins', sans-serif;

html {
    background: $background;
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
}