.textAnim {
    .word {
        display: inline-block;
        margin-right: 0.25em;
        white-space: nowrap;
        .character {
            display: inline-block;
            margin-right: -0.05em;
        }
    }
}